<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <th:block th:fragment="head(title)">
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Bootstrap-->
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>


        <title th:text="${title}"></title>
    </th:block>

</head>
<body>

<nav class="navbar bg-light border border-dark" th:fragment="navbar">
    <div class="container-fluid" >
        <div class="border-end border-dark border-2 w-25" >
            <span class="navbar-brand mb-0 h1 text-dark border-bottom border-dark">Best of</span>
        </div>

        <div class="w-75 d-flex align-content-center p-1">
            <button type="button" class="btn btn-info mx-4" th:href="@{/songs}"><h4>Songs</h4></button>
            <button type="button" class="btn btn-success" th:href="@{/movies}"><h4>Movies</h4></button>
        </div>

    </div>
</nav>
</body>
</html>