<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>

    <title>Best of Movies</title>
</head>
<body>

    <div class="container position-relative" style="height:100vh;">
        <div class="text-center position-absolute top-50 start-50 translate-middle">
            <h1> Best movies </h1>

            <div class="card mt-5" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li th:each="movie : ${moviesList}"  class="list-group-item">
                        <a th:href="@{|/movies/${movie.id}|}" th:text="${movie.getTitle()}"> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



</body>
</html>