<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="~{fragments :: head(title='Best Movies')}"></th:block>
</head>

<body class="position-relative" style="height:100vh;">
<th:block th:replace="~{fragments :: navbar}"></th:block>

    <div class="container">
        <div class="text-center position-absolute top-50 start-50 translate-middle">
            <h1> Best Movies </h1>

            <div class="list-group mt-4" style="width: 18rem;">
                <a class="list-group-item list-group-item-action" th:each="movie : ${moviesList}" th:href="@{|/movies/${movie.id}|}" th:text="${movie.getTitle()}"></a>
            </div>
        </div>
    </div>



</body>
</html>